@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gray-100: #fdfdfc;
  --color-gray-200: #f9f9f8;
  --color-gray-300: #f1f0ef;
  --color-gray-400: #e9e9e7;
  --color-gray-500: #e2e1de;
  --color-gray-600: #dad9d6;
  --color-gray-700: #cfceca;
  --color-gray-800: #bcbbb5;
  --color-gray-900: #8d8d86;
  --color-gray-1000: #82827c;
  --color-gray-1100: #63635e;
  --color-gray-1200: #21201c;

  --ds-shadow-border: 0 0 0 1px rgba(0, 0, 0, 0.08);
  --ds-shadow-small: 0px 2px 2px rgba(0, 0, 0, 0.04);
  --ds-shadow-border-small: var(--ds-shadow-border), var(--ds-shadow-small);
  --ds-shadow-medium: 0px 2px 2px rgba(0, 0, 0, 0.04),
    0px 8px 8px -8px rgba(0, 0, 0, 0.04);
  --ds-shadow-border-medium: var(--ds-shadow-border), var(--ds-shadow-medium);
  --ds-shadow-large: 0px 2px 2px rgba(0, 0, 0, 0.04),
    0px 8px 16px -4px rgba(0, 0, 0, 0.04);
  --ds-shadow-border-large: var(--ds-shadow-border), var(--ds-shadow-large);

  --ds-focus-color: #0070f3;
  --ds-focus-ring: 0 0 0 2px var(--color-gray-100),
    0 0 0 4px var(--ds-focus-color);
  --brand: #fad657;

  --font-sans: "__Inter_36bd41", "__Inter_Fallback_36bd41";
  --font-mono: "__commitMono_6e147a", "__commitMono_Fallback_6e147a";
}

* {
  outline-color: var(--ds-focus-color);
  font-variant-ligatures: none;
}

body {
  font-family: var(--font-sans);
}

a {
  text-decoration: underline;
  text-underline-position: from-font;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--color-gray-800);
}

a:hover {
  text-decoration-color: var(--color-gray-900);
}

p {
  line-height: 1.65;
}

code {
  font-family: var(--font-mono);
  font-size: 13px;
}
